body {
  display: block;
  margin: 5%;
  color: #ffffff;
  background-color: #2d004d;
  text-align: center;
}

#quote-box {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;
  font-size: 24px;
  font-style: italic;
  font-variant: normal;
  font-weight: 500;
  line-height: 50px;
}

a {
  /*bottom alignment with quote button*/
}

footer {
  position: fixed;
  bottom: 0;
}
